
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Open Sans,sans-serif;
}
body{
    min-height: 100vh;
    padding: 100px;
    background-image: url("img/bg1.png");
    background-color: #0971b7;
}
 
header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navegation ul{
    position: relative;
    display: flex;

}
header .navegation li{
    list-style: none;
}
header .navegation li a{
    color:rgb(255, 255, 255);
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    margin-left:100px;
}
.conteudo {
    border-top: 0.4px solid black;
    margin-bottom: 48px;
    left: 40px;
}
.destaque-principal{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    left: 185px;
    
}
.destaque-texto{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
    padding: 50px;
    left: 50px;
    
}
.destaque-titulo{
    padding-bottom: 50px;
    margin: auto;
    font-weight: 200;
    font-size: 24px;
    color:#fff;
    justify-content: ;
    left: 50px;
}

.destaque-subtitulo{
    padding: 10px;
    font-weight: 200;
    font-size: 16px;
    color:#fff;
    left: 50px;
    justify-content: center;
}
.destaque-botao{
    position: relative;
    display: inline-block;
    margin-top:50px;
    padding: 7px 25px; 
    background-color:#0971b7 ;
    color:#fff;
    font-weight:500;
    border: none;
    box-shadow: 2px 3px 2px rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    bottom: 40px;
    

}
.destaque-botao:hover{
    transform: translateY(-10px);
}

#destaque-imagem{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 650px;
    height: 450px;
    background-image: url(figures/destaque.svg);
    background-size: 200%;
    background-position: center;
}

#destaque-imagem:hover{ 
    background-image: url(figures/destaque.gif);
    background-size: 140%;
    background-position: center;
}

.conteudo-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.sobre-titulo{
    padding-top: 20px;
    margin-bottom: 20px;
    border-top:0.8px solid #fff;
    font-weight: 400;
    font-size: 28px;
    color:#fff;
}

.sobre-subtitulo, h2{
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    color:#fff;

}

.sobre-texto{
    padding: 10px;
    font-weight: 200;
    font-size: 20px;
    color:#fff;
}

a {
    text-decoration: none;
}
img{
    max-width: 100%;
    padding: 10px;
    display: block;
}
.classes{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1f;
    max-width: 800px;
    left: 50px;
}
.classes > .grid:nth-child(n + 4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 500px;
}

.bottom-bar-roles{
    padding: 20px;
    margin: 20px;
    background-color: #0971b7 ;
    border-radius: 30px;
    font-weight: 400;
    font-size: 20px;
    ;
    color:white;
    text-align: center;
}

.plataforma-titulo{
    padding-top: 20px;
    margin-bottom: 20px;
    border-top:0.8px solid #fff;
    font-weight: 400;
    font-size: 20px;
    color:#fff;
    padding: 10px;
}

.block-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.plataforma-pc{
    padding: 20px;
    margin: 20px;
}

.plataforma-titulo{
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top:0.8px solid #fff;
    font-weight: 400;
    font-size: 28px;
    color:#fff;

}
.plataforma-subtitulo{
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top:0.8px solid #fff;
    font-weight: 400;
    font-size: 20px;
    color:#fff;
}

::-webkit-scrollbar-track{
    background-color: #232C3B;
}


::-webkit-scrollbar{
    width: 6px;
    background: #F4F4F4
}


::-webkit-scrollbar-thumb {
    background: #FE4719;
    border-radius: 0;
}

